<body>
<div id="wrapper" class = "boxQ">
  <div class="container">
  <div class="boxQuiz">


  <h2>Create your private account</h2>
  <form action = "" method="POST" class = "sign-up_form" id="form">
  
   
    <input type="text" name="name" placeholder ="UserName" required id ="username" class = "signupInput1">
  
    <input type="text" name="email" placeholder ="Email" required id ="email" class = "signupInput2">

    <input type="email" name="email" placeholder ="Email" required  id ="email"class = "signupInput3"><br><br>

    <input type="username" name="password" placeholder ="password" required id ="password" required  class = "signupInput4">

    <input type="password" name="password" placeholder ="Password" required id ="password" class = "signupInput5"><br><br>
   
  

    <input type="button" name="submit" id ="ButtonSubmit" value="submit" class = "ButtonSubmit">
  </form>
 </div>
</div>
</div>

</body>